@import "tailwindcss";

:root {
  --background: #e6e6e6;
  --foreground: #252525;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #e6e6e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .pomodoro {
    width: 50px;
    height: 50px;
    background-color: #408000;
    border-radius: 50%;
    position: relative;
    margin: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }

  .stem-leaf {
    width: 5px;
    height: 10px;
    background-color: #408000;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 50%;
    transform-origin: bottom center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .leaf-1 {
    transform: rotate(60deg) scale(0.5, 1);
  }

  .leaf-2 {
    transform: rotate(120deg) scale(0.5, 1);
  }

  .leaf-3 {
    transform: rotate(180deg) scale(0.5, 1);
  }

  .leaf-4 {
    transform: rotate(240deg) scale(0.5, 1);
  }

  .leaf-5 {
    transform: rotate(300deg) scale(0.5, 1);
  }
}
