<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Pomodoro Timer{% endblock %}</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/color_modes.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pomodoro.css') }}"
    />
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/color_modes.js') }}"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
    {% block extra_css %}{% endblock %} {% block extra_js %}{% endblock %}
  </head>
  <body class="text-center">
    {% include '_header.html' %}
    <main class="container">{% block content %} {% endblock %}</main>
    {% include '_color_modes.html' %}
  </body>
</html>
