{% extends "_base.html" %} {% block title %}Pomodoro Timer - Home{% endblock %}
{% block content %}
<div class="my-5">
  <h1 class="display-5">Keep incremental improvements!</h1>

  <div id="remaining-time" class="display-1 mt-5">25:00</div>

  <div id="status" class="display-5 mt-3">Ready</div>

  <div class="mt-3">
    <button id="start-button" class="btn btn-success btn-lg btn-visible">
      Start
    </button>
    <button id="pause-button" class="btn btn-warning btn-lg btn-hidden">
      Pause
    </button>
    <button id="resume-button" class="btn btn-success btn-lg btn-hidden">
      Resume
    </button>
    <button id="reset-button" class="btn btn-danger btn-lg btn-hidden">
      Reset
    </button>
  </div>

  <div id="pomodoro-container" class="mt-3"></div>
</div>
{% endblock %}
